# This file is moved to the root directory before building the image

/node_modules
*.log
.DS_Store
.env
/.cache
/public/build
/build

# in deployed we don't need the data anyway, and these add up big time
**/data.db
